.footer__nav {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0;
}
@media (max-width: 767px) {
  .footer__nav {
    display: block;
    margin-bottom: 48px;
  }
}