.footer {
  max-width: 1184px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}